@charset "UTF-8";

html{
	height: 100%;
}

body {
	height: 100%;
}

html,
input,
button,
h1,
h2,
h3 {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
}

html,
input,
button {
    letter-spacing: -.5px;
    word-spacing: 2px;
    word-break:break-all;
}

h1,
h2,
h3 {
    letter-spacing: -1px;
}

/* 커스텀 */
.con {
    max-width: 1200px;
}

.bg-gray-showMyPage{
	background-color:#EFEFEF;
}

@media (max-width :1210px) and (min-width :801px) {
    .con {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width :768px) {
    .visible-on-sm-down {
        display: none;
    }
}

@media (max-width :768px) {
    .visible-on-md-up {
        display: none;
    }
}

@media (min-width :768px) {
    .page-title-box {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width :768px) {

    .page-title-box {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.mobile-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 40;
}

.mobile-top-bar a {
    margin-right: 10px;
}

.mobile-top-bar a:last-child {
    margin-right: 0;
}

.mobile-top-bar a>i {
    font-size: 1.5rem;
}


.mobile-side-bar {
    background-color: white;
    position: fixed;
    min-width: 276px;
    max-width: 500px;
    left: -100%;
    top: 55px;
    bottom: 0;
    transition: left .3s;
    z-index: 100;
}

.mobile-side-bar-actived .mobile-side-bar {
    left: 0;
}

.table-first-col {
    width: 100px;
}

.table-first-col-tight {
    width: 100px;
}

@media (max-width :768px) {
    .table-first-col {
        width: 65px;
    }

    .table-first-col-tight {
        width: 30px;
    }
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    z-index: 100;
}

.modal-background-no-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    z-index: 100;
}

.modal-content {
    border: 1px solid #787878;
    overflow-y: auto;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    background-color: white;
}
.modal-content-share {
    border: 1px solid #787878;
    overflow-y: auto;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    background-color: white;
}
.modal-content-no-bg {
    border: 1px solid #787878;
    overflow-y: auto;
    max-height: 100vh;
    box-sizing: border-box;
    max-width: 600px;
}
.modal-content-applyments {
    border: 1px solid #787878;
    box-sizing: border-box;
    max-width: 600px;
}


.popup-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.popup-1>div {
    border: 1px solid #787878;
    overflow-y: auto;
    max-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    background-color: white;
}



.loading-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
}

.loading-box-actived,
.loading-box-actived>body {
    overflow: hidden;
}

.loading-box-actived .loading-box {
    display: flex;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

/* swiper 커스텀*/
.swiper-slide-casting-call{
	align-self: stretch;
	flex-direction: column;
	display: flex;
	height: auto;
}
/* profile 커스텀*/
.profile {
    object-fit: cover;
    border-radius: 70%;
     overflow: hidden;
}
/* toastr 커스텀*/
.toast-top-center {
	display: none;
	z-index: 100;
}
.toast-top-center {
	display: none;
	z-index: 100;
}
.toast-bottom-left{
	display: none;
	z-index: 100;
}
/* 관리자 showMyPage*/
.grid-columns-adm-myPage{
	grid-template-columns: minmax(68px,100px) minmax(100px,auto);
}
.grid-row-adm-myPage{
	grid-template-rows: minmax(68px,auto);
}
/* showMyPage 커스텀*/
.grid-rows-layout-myPage{
	grid-template-rows: 50px minmax(auto,auto) 200px 250px minmax(10%,50%);
}
/* showMyAudition 커스텀*/
.font-myAudition {
	font-size: 5vmin;
}
.grid-columns-myAudition{
	grid-template-columns: minmax(68px,100px) minmax(130px,auto) 50px;
}

.grid-row-myAudition{
	grid-template-rows: minmax(68px,auto);
}
/* detailArtwork 커스텀*/
.grid-rows-detailArtwork{
	grid-template-rows: repeat(5,36px);
}
.grid-rows-detailArtwork-detailActingRole{
	grid-template-rows: repeat(7,44px);
}
/* 관리자 artworklist*/
.grid-columns-adm-artworkList{
	grid-template-columns: minmax(68px,100px) minmax(100px,auto) minmax(68px,100px);
}
.grid-row-adm-artworkList{
	grid-template-rows: minmax(68px,auto);
}
/* artworklist 커스텀*/
.grid-columns-artworkList{
	grid-template-columns: minmax(97.6px,160px) minmax(150px,auto);
}

.grid-row-artworkList{
	grid-template-rows: minmax(97.6px,auto);
}
/* artworklist 커스텀*/
.grid-columns-showCommonMyPage{
	grid-template-columns: minmax(70px,1fr) minmax(200px,3fr);
}
/* main 커스텀 */
.grid-columns-main{
	grid-template-columns: minmax(300px,500px);
}

/* loader 커스텀*/
.loader-img {
  width: 120px;
  height: 120px;
  -webkit-animation: 2s linear infinite; 
  animation:  2s linear infinite;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 100;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 180px;
  height: 180px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 100;
  
}

@-webkit-keyframes spin {
  0% { -webkit-transform:translate(-50%, -50%) rotate(0deg); }
  100% { -webkit-transform:translate(-50%, -50%) rotate(360deg); }
}

@keyframes spin {
  0% { transform:translate(-50%, -50%) rotate(0deg); }
  100% { transform:translate(-50%, -50%) rotate(360deg); }
}

/*알람 모션관련 애니메이션*/
@keyframes alarm{
	0% { transform: rotate(0deg);}
	20% { transform: rotate(-15deg);}
	40% { transform: rotate(30deg); }
	60% { transform: rotate(-30deg); }
	80% { transform: rotate(30deg); }
	100% { transform: rotate(-15deg); }
}

@keyframes ping {
  75%, 100% { transform: scale(1.4); }
}

.scale-alarm {
	animation : ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}